body {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f2b9ae;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  background: linear-gradient(#d0ebf7, #f1af88);
}
h1 {
  margin-top: 40px;
  font-size: 15px;
}
h2 {
  font-size: 50px;
  text-transform: capitalize;
}
img {
  vertical-align: super;
}
#temperature {
  margin-top: 60px;
  font-size: 100px;
}
#conditions:first-letter {
  text-transform: capitalize;
}
.unit {
  font-size: 16px;
  position: relative;
  top: -55px;
}
*,
::after,
::before {
  box-sizing: content-box;
}
.icons {
  font-size: 40px;
}
.card {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#9a83f0, #fac1cf);
  border: none;
}
.search-window {
  width: -webkit-fill-available;
  background: hsla(0, 72%, 117%, 0.2);
  border-radius: 20px;
  padding: 9px 25px;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  border: none;
  text-align: center;
}
#conditions {
  font-style: italic;
}
.temperature {
  text-align: center;
}
.weekday {
  text-align: center;
}
.view {
  margin-bottom: 140px;
}
