body {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f2b9ae;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  background: linear-gradient(#f3dfd2, #f0a072);
}
h1 {
  margin-top: 40px;
  font-size: 15px;
}
h2 {
  font-size: 50px;
  text-transform: capitalize;
}
*,
::after,
::before {
  box-sizing: content-box;
}
#temperature {
  margin-top: 60px;
  font-size: 90px;
}
#conditions:first-letter {
  text-transform: capitalize;
}
.unit {
  font-size: 16px;
  position: relative;
  top: -55px;
}
.weather-temperature img {
  vertical-align: super;
  margin-left: -20px;
}
.card {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(rgb(202, 102, 202), white);
  border: none;
}
.search-window {
  width: -webkit-fill-available;
  background: hsla(0, 72%, 117%, 0.2);
  border-radius: 20px;
  padding: 9px 25px;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  border: none;
  text-align: center;
}
#conditions {
  font-style: italic;
}
.view {
  margin-bottom: 140px;
}
.active {
  cursor: default;
  text-decoration: none;
  color: black;
}
#celsius-link,
#fahrenheit-link,
#celsius-link,
#fahrenheit-link:hover {
  text-decoration: none;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.forecast-date {
  font-size: 18px;
}
.forecast-temp {
  font-size: 15px;
}
